<div class="modal-wrap">
  <div class="info">
    <h3>Additional Info</h3>

    <div class="addinfo">
      <form class="depinfo">
        <label for="departure">Departure</label><br>
        <input type="text" id="deptext" name="deptext" size="19"><br>
        <label for="time">Departure date and time</label><br>
        <input type="datetime-local" id="deptime" name="deptime">
      </form>
      <form class="totaltime">
        <label for="departure">Total time</label><br>
        <input type="text" id="deptext" name="deptext" size="8"><br>
      </form>
      <form class="arrinfo">
        <label for="departure">Arrival</label><br>
        <input type="text" id="deptext" name="deptext" size="19"><br>
        <label for="time">Arrival date and time</label><br>
        <input type="datetime-local" id="deptime" name="deptime">
      </form>
    </div>
  </div>
  <div class="car-details">
    <div class="car-information">
    <h3>Car information</h3>
      <form class="makemodel">
        <label for="fname">Make & model</label><br>
        <input type="text" id="fname" name="fname" value=""><br>
        </form>
        <form class="regnumber">
        <label for="lname">Registration number</label><br>
        <input type="text" id="lname" name="lname" value=""><br><br>
      </form>
    </div>
    <div class="driver-information">
      <h3>Driver information</h3>
      <form class="regnumber">
      <label for="lname">Registration number</label><br>
      <input type="text" id="lname" name="lname" value=""><br><br>
    </form>
    </div>
  </div>
</div>
